---
import Layout from "../layouts/Layout.astro";
import Stack from "../components/Stack";
import coinData from "../data/coins.json";
---

<Layout
  title="Arbitango"
  metaDescription="La web para comprobar en que exchange te conviene."
  metaKeywords="comparar exchanges crypto, mejor exchange crypto, mejor app para comprar btc"
  metaImage="https://comparatasas.ar/images/cobros.png"
>
  <section class="mt-[5em]">
    <div
      class="w-full grid lg:grid-cols-4 lg:grid-rows-2 grid-cols-1 grid-rows-4 lg:gap-12 gap-6"
    >
      {
        coinData.map((coin) => (
          <Stack
            key={coin.ticker}
            ticker={coin.ticker}
            nombre={coin.nombre}
            icon={coin.icon}
            client:idle
          />
        ))
      }
    </div>
  </section>
</Layout>
