---
import "@/styles/globals.css";

import Search from "../components/Search";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <div class="w-full">
        <nav class="flex justify-between items-center text-[#777777]">
          <svg
            width="25"
            height="25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><g clip-path="url(#a)"
              ><mask
                id="b"
                style="mask-type:alpha"
                maskUnits="userSpaceOnUse"
                x="0"
                y="0"
                width="25"
                height="25"
                ><path
                  d="M2.42 1.72c-.542.694-.806 1.63-1.333 3.5-.374 1.263-.562 1.895-.7 2.537a17.264 17.264 0 0 0-.337 2.325C0 10.736 0 11.395 0 12.713v5.126c0 2.507 0 3.76.488 4.717a4.475 4.475 0 0 0 1.956 1.956C3.4 25 4.654 25 7.16 25H17.84c2.507 0 3.76 0 4.717-.488a4.476 4.476 0 0 0 1.956-1.956C25 21.6 25 20.346 25 17.84v-5.126c0-1.318 0-1.977-.05-2.631a17.292 17.292 0 0 0-.337-2.325c-.138-.642-.326-1.274-.7-2.538-.527-1.87-.79-2.805-1.333-3.5A4.475 4.475 0 0 0 20.75.334C19.935 0 18.963 0 17.02 0H7.98C6.037 0 5.065 0 4.25.334 3.53.63 2.9 1.107 2.42 1.72Z"
                  fill="#FFFC95"></path></mask
              ><g mask="url(#b)"
                ><g filter="url(#c)"
                  ><path
                    d="M0 11.829h25v6.01c0 2.507 0 3.76-.488 4.717a4.475 4.475 0 0 1-1.956 1.956C21.6 25 20.346 25 17.84 25H7.16c-2.507 0-3.76 0-4.717-.488a4.475 4.475 0 0 1-1.956-1.956C0 21.6 0 20.346 0 17.84v-6.01Z"
                    fill="url(#d)"></path></g
                ><g filter="url(#e)"
                  ><path
                    d="M1.75 1.722C1.172 2.418.89 3.354.33 5.228c-.35 1.167-.525 1.75-.663 2.341a19.182 19.182 0 0 0-.459 3.128c-.038.605-.038 1.214-.038 2.432v2.238c.048 1.313.453 2.327 1.29 3.392.454.579 1.418 1.347 2.529 1.347 1.621 0 2.64-.602 3.618-1.197l.055-.034c.958-.583 1.896-1.154 3.32-1.074 1.621.001 2.765 1.017 3.774 1.998l.233.229c.423.414.825.809 1.24 1.117.49.362.984.594 1.53.594.873 0 1.56-.408 2.17-1.039.576-.599 1.073-1.387 1.583-2.198l.002-.003.087-.139c.538-.855 1.098-1.722 1.782-2.374.687-.655 1.506-1.099 2.563-1.099h.886v-2.374c0-1.287 0-1.93-.043-2.566-.037-.564-.1-1.127-.187-1.686-.098-.63-.239-1.254-.52-2.503l-.015-.068c-.457-2.029-.685-3.043-1.257-3.8A4.726 4.726 0 0 0 21.813.37C20.905 0 19.8 0 17.593 0H7.68C5.607 0 4.57 0 3.7.335a4.754 4.754 0 0 0-1.95 1.387Z"
                    fill="#FBE34C"></path></g
                ><g filter="url(#f)"
                  ><path
                    d="M2.156 4.215c.381-1.328.572-1.992.96-2.484A3.197 3.197 0 0 1 4.42.748C5 .511 5.69.511 7.072.511h10.915c1.38 0 2.07 0 2.65.237.513.209.962.547 1.304.981.388.492.58 1.155.961 2.481l.139.48c.453 1.571.679 2.357.513 3.023a2.594 2.594 0 0 1-.98 1.453c-.556.403-1.354.485-2.948.65-2.368.244-5.095.478-6.851.478-1.68 0-4.688-.255-7.28-.51-1.622-.16-2.433-.239-2.991-.641a2.584 2.584 0 0 1-.987-1.453c-.168-.667.06-1.462.517-3.05l.122-.425Z"
                    fill="url(#g)"></path></g
                ><g filter="url(#h)"
                  ><path
                    d="M18.926 18.568c0 1.05-.959 2.34-2.142 2.34-1.183 0-3.676-2.898-3.676-3.948 0-1.05 1.854 1.608 3.037 1.608 1.183 0 2.781-1.05 2.781 0Z"
                    fill="#fff"></path></g
                ><g filter="url(#i)"
                  ><path
                    d="M8.056 17.072c0 .704-4.008 3.033-4.916 3.033-.907 0-2.82-1.945-2.82-2.65 0-.703 1.682.266 2.59.266 2.173.725 5.146-1.354 5.146-.65Z"
                    fill="#fff"
                    fill-opacity=".7"></path></g
                ></g
              ></g
            ><defs
              ><filter
                id="c"
                x="0"
                y="9.537"
                width="25"
                height="15.463"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
                ><feFlood flood-opacity="0" result="BackgroundImageFix"
                ></feFlood><feBlend
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"></feBlend><feColorMatrix
                  in="SourceAlpha"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha"></feColorMatrix><feOffset dy="-2.292"
                ></feOffset><feGaussianBlur stdDeviation="1.391"
                ></feGaussianBlur><feComposite
                  in2="hardAlpha"
                  operator="arithmetic"
                  k2="-1"
                  k3="1"></feComposite><feColorMatrix
                  values="0 0 0 0 0.934961 0 0 0 0 0.742845 0 0 0 0 0 0 0 0 1 0"
                ></feColorMatrix><feBlend
                  in2="shape"
                  result="effect1_innerShadow_526_792"></feBlend></filter
              ><filter
                id="e"
                x="-5.087"
                y="-3.928"
                width="35.174"
                height="30.251"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
                ><feFlood flood-opacity="0" result="BackgroundImageFix"
                ></feFlood><feColorMatrix
                  in="SourceAlpha"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha"></feColorMatrix><feOffset dy=".327"
                ></feOffset><feGaussianBlur stdDeviation="2.128"
                ></feGaussianBlur><feComposite in2="hardAlpha" operator="out"
                ></feComposite><feColorMatrix
                  values="0 0 0 0 0.845345 0 0 0 0 0.65787 0 0 0 0 0 0 0 0 1 0"
                ></feColorMatrix><feBlend
                  in2="BackgroundImageFix"
                  result="effect1_dropShadow_526_792"></feBlend><feBlend
                  in="SourceGraphic"
                  in2="effect1_dropShadow_526_792"
                  result="shape"></feBlend><feGaussianBlur
                  stdDeviation=".614"
                  result="effect2_foregroundBlur_526_792"
                ></feGaussianBlur></filter
              ><filter
                id="f"
                x="-1.157"
                y="-2.107"
                width="27.384"
                height="15.021"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
                ><feFlood flood-opacity="0" result="BackgroundImageFix"
                ></feFlood><feBlend
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"></feBlend><feColorMatrix
                  in="SourceAlpha"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha"></feColorMatrix><feOffset dy="-1.146"
                ></feOffset><feGaussianBlur stdDeviation="2.66"
                ></feGaussianBlur><feComposite
                  in2="hardAlpha"
                  operator="arithmetic"
                  k2="-1"
                  k3="1"></feComposite><feColorMatrix
                  values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.9 0"
                ></feColorMatrix><feBlend
                  in2="shape"
                  result="effect1_innerShadow_526_792"></feBlend><feColorMatrix
                  in="SourceAlpha"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha"></feColorMatrix><feOffset dy="-1.146"
                ></feOffset><feGaussianBlur stdDeviation="2.66"
                ></feGaussianBlur><feComposite
                  in2="hardAlpha"
                  operator="arithmetic"
                  k2="-1"
                  k3="1"></feComposite><feColorMatrix
                  values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.9 0"
                ></feColorMatrix><feBlend
                  in2="effect1_innerShadow_526_792"
                  result="effect2_innerShadow_526_792"></feBlend><feGaussianBlur
                  stdDeviation="1.309"
                  result="effect3_foregroundBlur_526_792"
                ></feGaussianBlur></filter
              ><filter
                id="h"
                x="9.998"
                y="13.604"
                width="12.039"
                height="10.414"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
                ><feFlood flood-opacity="0" result="BackgroundImageFix"
                ></feFlood><feBlend
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"></feBlend><feGaussianBlur
                  stdDeviation="1.555"
                  result="effect1_foregroundBlur_526_792"
                ></feGaussianBlur></filter
              ><filter
                id="i"
                x="-2.054"
                y="14.55"
                width="12.483"
                height="7.928"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
                ><feFlood flood-opacity="0" result="BackgroundImageFix"
                ></feFlood><feBlend
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"></feBlend><feGaussianBlur
                  stdDeviation="1.187"
                  result="effect1_foregroundBlur_526_792"
                ></feGaussianBlur></filter
              ><linearGradient
                id="d"
                x1="12.5"
                y1="11.829"
                x2="12.5"
                y2="25"
                gradientUnits="userSpaceOnUse"
                ><stop stop-color="#F9C200"></stop><stop
                  offset="1"
                  stop-color="#FDE44D"></stop></linearGradient
              ><linearGradient
                id="g"
                x1="12.499"
                y1="-.012"
                x2="12.499"
                y2="9.271"
                gradientUnits="userSpaceOnUse"
                ><stop stop-color="#FDE44D"></stop><stop
                  offset=".855"
                  stop-color="#FFFADA"></stop><stop
                  offset="1"
                  stop-color="#FDE44D"></stop></linearGradient
              ><clipPath id="a"
                ><path fill="#fff" d="M0 0h25v25H0z"></path></clipPath
              ></defs
            ></svg
          >
          <Search client:load />
          <svg width="25" height="25" fill="none"
            ><g clip-path="url(#a)"
              ><path
                d="M12.5 0C5.59375 0 0 5.59375 0 12.5c0 5.5312 3.57812 10.2031 8.54688 11.8594.625.1094.85937-.2656.85937-.5938 0-.2968-.01563-1.2812-.01563-2.3281-3.14062.5781-3.95312-.7656-4.20312-1.4687-.14062-.3594-.75-1.4688-1.28125-1.7657-.4375-.2343-1.0625-.8125-.01563-.8281.98438-.0156 1.6875.9062 1.92188 1.2812 1.125 1.8907 2.92188 1.3594 3.64062 1.0313.10938-.8125.4375-1.3594.79688-1.6719-2.78125-.3125-5.6875-1.3906-5.6875-6.1718 0-1.3594.48438-2.48442 1.28125-3.35942-.125-.3125-.5625-1.59376.125-3.3125 0 0 1.04687-.32813 3.4375 1.28124.99995-.28124 2.06255-.42187 3.12505-.42187s2.125.14063 3.125.42187c2.3906-1.625 3.4375-1.28124 3.4375-1.28124.6874 1.71874.25 3 .125 3.3125.7968.875 1.2812 1.98442 1.2812 3.35942 0 4.7968-2.9219 5.8593-5.7031 6.1718.4531.3906.8437 1.1406.8437 2.3125 0 1.6719-.0156 3.0157-.0156 3.4375 0 .3282.2344.7188.8594.5938 2.4818-.8371 4.6385-2.4318 6.1662-4.5594C24.1783 17.6725 25 15.1192 25 12.5 25 5.59375 19.4062 0 12.5 0Z"
                fill="currentColor"></path></g
            ><defs
              ><clipPath id="a"
                ><path fill="currentColor" d="M0 0h25v25H0z"></path></clipPath
              ></defs
            ></svg
          >
        </nav>
      </div>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  main {
    margin: auto;
    padding: 1rem;
    width: 90%;
    margin-top: 3em;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  :root {
    color-scheme: dark light;
  }

  html {
    font-family: system-ui, sans-serif;
    background: #0d0d0d;
    color-scheme: dark light;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
